<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
      <menu>
		<add id="Smartmage_Base::smartmage"
			 title="Smartmage"
			 module="Smartmage_Base"
			 sortOrder="40" 
			 resource="Magento_Backend::content"/>
      </menu>
</config>



